h1 {
color: purple;
font-weight: 300;
font-family: 'Permanent Marker';
}

.choco {
    color: chocolate;
    font-family: 'Shadows Into Light';
    font-stretch: expanded;
    
}

.chocoText {
    overflow: scroll;
    height: 150px;
    width: 200px;
    
}